.header {
    height: 600px;
    text-align: center;
    color: whitesmoke;
    /* background-image: url(bari.jpeg); */
    /* background-image: url(../stone_nature.jpg); */
    /* background-image: url(../images/cap.png); */
    background-image: url(bari.jpeg);
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

* {
    margin: 0%;
}

h2 {
    color: magenta;
}

p {
    color: blueviolet;
}

.page-title {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}